# Build
target/

# Allure (binário local e resultados)
.allure/
allure-results/

# ExtentReports
extent-reports/

# IDE - IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# IDE - VS Code (manter apenas configurações do projeto)
.vscode/*.log

# Sistema Operacional
.DS_Store
Thumbs.db

# Maven
*.class
